[submodule "velib_python"]
	path = velib_python
	url = git@github.com:victronenergy/velib_python.git
[submodule "ext/velib_python"]
	path = ext/velib_python
	url = git@github.com:victronenergy/velib_python.git
